<!-- <pre>{{data | json}}</pre> -->
<div class="dashboard-box-container">
    <mat-card class="card-style first-card" (click)="changePanel()">
        <div class="flex-col-container">
            <div class="campaign-type">
                <p class="font1" [ngStyle]="{'color': data?.color}">{{data?.theme}}</p>
                <div class="icon-container">
                    <mat-icon class="campaign-type-icon pointer" [svgIcon]="data?.themeIcon" [ngStyle]="{'color': 'transparent','stroke': 'white'}"></mat-icon>
                </div>
            </div>
            <div class="card-data-flex" [ngStyle]="{'border-left-color': data?.color, 'border-top-color': data?.color}">
                <div class="flex-data-container-100 data-center-row" *ngFor="let stat of data?.stats">
                    <div class="data-icon-container">
                        <mat-icon class="data-icon-svg pointer" [svgIcon]="'titulo@PYPGrandes'" [ngStyle]="{'fill': 'transparent','stroke': data?.color}"></mat-icon>
                    </div>
                    <div class="data-col tooltip w-80">
                        <p class="font2" [ngStyle]="{'color': data?.color}">{{stat.label}}</p>
                        <p class="font3 shorten">{{stat.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>