@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*::ng-deep.campaign-type-icon g * {*/


/*  fill: white;*/


/*  stroke: #6699ff;*/


/*  stroke-dasharray: unset;*/


/*}*/

::ng-deep.data-icon-svg g * {
    fill: inherit;
    stroke: inherit;
    stroke-dasharray: unset;
}

::ng-deep.campaign-type-icon g * {
    fill: inherit;
    stroke: inherit;
    stroke-dasharray: unset;
}

.campaign-type-icon {
    height: 100px;
    width: 100px;
}

.data-icon {
    font-size: 30px;
}

.data-icon-svg {
    height: 40px;
    width: 40px;
}

.font1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    margin: 0px;
    margin-bottom: 5px;
    width: 80%;
}

.font2 {
    font-family: 'Montserrat', sans-serif;
    color: #6699ff;
    font-size: 12pt;
    margin: 0px;
}

.font3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 28pt;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0px;
}

.font4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15pt;
    font-weight: bold;
}

.font5 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 28pt;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    padding: 15px;
    background-color: rgba(20, 55, 109, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: 'Montserrat', sans-serif;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.shorten {
    width: 95%;
    margin: 0px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-style {
    background-image: linear-gradient(to right, rgba(102, 153, 255, 0), rgba(255, 255, 255, 0.25));
    background-color: rgba(255, 255, 255, 0.1);
    border: rgb(57, 127, 204) solid 1px;
    border-radius: 13px;
}

.first-card {
    padding: 0px;
    cursor: pointer;
}

.backgrond-opacity-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
}

.pointer {
    pointer-events: none;
}

.data-col {
    width: 20%;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
}

.no-margin {
    margin-bottom: 0px;
}

.w-80 {
    width: 80%;
}

.w-60 {
    height: 60px;
    width: 60px;
}

.w-20 {
    width: 20%;
    text-align: center;
}

.w-30 {
    height: 30px;
    width: 30px;
}

.m-2 {
    margin: 2px;
}

.data-col p {
    text-align: left;
}

.data-center-row {
    border-top: 1px solid rgba(196, 190, 190, 0.205);
    border-bottom: 1px solid rgba(196, 190, 190, 0.205);
}

.data-right-border {
    border-right: 1px solid rgba(196, 190, 190, 0.205);
}

.dropdown {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.single-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    transition: 0.5s;
}

.data-card {
    margin: 10px 0px;
    width: calc(50% - 15px);
    padding: 0px;
}

.flex-card {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.flex-card img {
    width: 30px;
}

.image-dash-configuration {
    display: inline-block;
    width: 25px;
}

.image-dash-users {
    display: inline-block;
    width: 35px;
}

.flex-card p {
    margin: 0px;
}

.flex-col-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.campaign-type {
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    width: 20%;
}

.card-data-flex {
    border-left: 5px solid rgb(101, 153, 255);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.flex-data-container-100 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.campaign-image {
    height: 100px;
}


/*PRUEBASS*/

@media screen and (max-width: 1030px) {
    .icon-container {
        margin: auto;
        text-align: center;
        height: 180px;
        width: 180px;
    }
    .campaign-type-icon {
        height: 180px;
        width: 180px;
    }
    .campaign-type {
        padding: 40px 0px;
        width: 100%;
    }
    .data-card {
        width: 100%;
    }
    .campaing-info {
        width: 100%;
    }
    .col {
        display: inline;
    }
    .data-contaier {
        border-top: 1px solid rgba(196, 190, 190, 0.205);
        border-bottom: 1px solid rgba(196, 190, 190, 0.205);
    }
    .center-col {
        border-right: none;
        border-left: none;
    }
    .first-column {
        display: none;
    }
    .first-row {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
        border-bottom: 5px solid rgb(101, 153, 255);
        margin: 20px 0px;
    }
    .flex-col-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card-data-flex {
        flex-direction: column;
        flex-wrap: nowrap;
        border-top: 5px solid rgb(101, 153, 255);
        border-left: none;
        width: 100%;
    }
    .flex-data-container {
        border-top: 1px solid rgba(196, 190, 190, 0.205);
        width: 100%;
    }
    .data-right-border {
        border-right: none;
    }
}

.dashboard-box-container {
    width: 90%;
    margin: auto;
    padding: 0px;
    margin-bottom: 25px;
}

.data-icon-container {
    width: 20%;
    text-align: center;
    flex-shrink: 0;
}