<div class="titulo">Create Task</div>
<form id="task_form" [formGroup]="validateForm" (submit)="submit()">
    <div class="row">
        <div class="col">
            <div class="field">
                <label class="required" for="name">Name:</label><br />
                <input id="name" class="input" formControlName="Name" name="Name" type="text" value="" size="30" /><br />
                <span id="name_validation" class="error_message"></span>
            </div>
            <div class="field">
                <label class="required" for="estado">Stage:</label>
                <select name="Stage" id="estado" formControlName="Stage">
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                </select>
                <span id="estado" class="error_message"></span>
            </div>
        </div>

        <div class="col">
            <div class="field">
                <label class="required" for="assignedTo">Assigned To:</label>
                <select name="assignedTo" id="assignedTo" formControlName="Assigned To">
                    <option *ngFor="let user of users"  [ngValue]="user">{{user}}</option>
                </select>
                <span id="assignedTo" class="error_message"></span>
            </div>

            <!-- <div class="field">
                <label class="required" for="assignedTo">Assigned To:</label><br />
                <input id="assignedTo" class="input" name="Assigned To" formControlName="Assigned To" type="text" value="" size="30" /><br />
                <span id="assignedTo_validation" class="error_message"></span>
            </div> -->
        </div>
    </div>
    <div class="buttons">
        <button type="button" class="button-secondary " (click)="onCancel()">Cancelar</button>
        <button type="submit" class="button-primary">Guardar</button>
    </div>



</form>