.titulo {
    font-size: 16px;
    font-weight: 600;
    color: rgb(18, 11, 70);
    margin-bottom: 20px;
}

#task_form {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-direction: row;
        .col {
            display: flex;
            flex-direction: column;
            .field {
                margin: 0px 10px 10px 0px;
                label {
                    font-size: 14px;
                    color: #404040;
                }
                input,
                select {
                    border-radius: 20px;
                    border: 1px solid rgb(165, 161, 161);
                    padding: 8px;
                    width: 100%;
                    &:focus {
                        border: 1px solid rgb(92, 91, 91);
                    }
                }
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
        button {
            color: white;
            border-radius: 20px;
            padding: 8px;
            margin: 16px;
            width: 25%;
        }
        .button-primary {
            background-image: linear-gradient(-90deg, #030310, #2c6fc3);
            border: 1px solid #2c6fc3;
        }
    }
    .button-secondary {
        background-color: #888;
        border: 1px solid #888;
    }
}