.titulo {
    font-size: 16px;
    font-weight: 600;
    color: rgb(18, 11, 70);
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    button {
        color: white;
        border-radius: 20px;
        padding: 8px;
        margin: 16px;
        width: 25%;
    }
    .button-primary {
        background-image: linear-gradient(-90deg, #030310, #2c6fc3);
        border: 1px solid #2c6fc3;
    }
}

.button-secondary {
    background-color: #888;
    border: 1px solid #888;
}

.content {
    margin: 10px;
    width: 100%;
    strong {
        color: #404040;
        width: 30%;
        display: inline-block;
    }
}