<div class="titulo">Do you want to delete this task?</div>
<div class="content">
    <div>
        <strong>Assigned To:</strong> {{data.task['Assigned To']}}
    </div>
    <div>
        <strong>Name:</strong> {{data.task.Name}}
    </div>
    <div>
        <strong>Stage To:</strong> {{data.task.Stage}}
    </div>
</div>
<div class="buttons">
    <button type="button" class="button-secondary " (click)="onConfirmarDelete(false, data.task)">Cancelar</button>
    <button type="button" class="button-primary" (click)="onConfirmarDelete(true, data.task)">Eliminar</button>
</div>