<!--The content below is only a placeholder and can be replaced.-->
<div>
    <!-- header and title of section -->
    <div class="dashboard-wraper">
        <div class="header">

        </div>
    </div>
    <!-- Showing dashboard with information -->
    <div class="ScrollBar dashboard-box-wrapper">
        <br/>
        <app-table [tasks]="tasks" (edit)="onEdit($event)" (delete)="onDelete($event)" (create)="onCreate()"></app-table>
    </div>
</div>