@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
::ng-deep.campaign-type-icon g * {
    fill: #ffffff00;
    stroke: inherit;
    stroke-dasharray: unset;
}

.dashboard-wraper {
    height: 11vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 11);
    width: 100%;
    padding: 0;
    background-image: linear-gradient(-90deg, #000024, #00234e);
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.55);
    .header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: calc(100% - 13vw);
        height: 100%;
        z-index: 10;
        font-size: 18px;
        color: white;
        vertical-align: middle;
    }
}

.dashboard-box-wrapper {
    overflow: auto;
    height: 89vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 89);
    background-image: url('/assets/Dashboard/fondoDashboard@PYP.png');
    background-color: white;
    z-index: -1;
    margin-left: 4px;
    color: white
}

// .TextoIconoHeader {
//   font-family: "Montserrat", sans-serif;
//   margin-left: 4vmin;
//   font-weight: bold;
//   font-size: 4vmin;
//   @media screen and (max-width: 800px) {
//     margin-left: 1vmin;
//   }
//   @media screen and (max-width: 1366px) {
//     margin-left: 1.5vmin;
//   }
// }
// .campaign-type-icon {
//   pointer-events: none;
//   height: 5vmin;
//   width: 5vmin;
//   color: #6699ff00;
//   stroke: #6699ff;
// }
// .first-icon {
//   color: #6699ffff;
//   stroke: #6699ff00;
// }
// .header img {
//   height: 26px;
//   margin: 0 10px;
// }
// .tooltip {
//   position: relative;
//   display: flex;
//   align-items: center;
// }
// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 150px;
//   background-color: rgb(20, 55, 109);
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;
//   font-family: "Montserrat", sans-serif;
//   /* Position the tooltip */
//   position: absolute;
//   z-index: 1;
//   top: 100%;
//   left: 50%;
//   margin-left: -60px;
//   margin-top: 10px;
// }
// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }
// .card-container {
//   margin-left: 7%;
// }
// .example-card {
//   display: inline-flex;
//   flex-direction: row;
//   width: 450px;
//   height: 15%;
//   text-align: center;
//   align-items: center;
//   margin: auto;
// }
// .card-image {
//   width: 80%;
// }
// .number-of {
//   font-size: xx-large;
//   font-weight: bold;
// }
// .campaign-report {
//   width: 20%;
//   margin: 0px;
// }
// .campaign-details {
//   width: 80%;
//   margin: 0px;
// }
// .col-container {
//   display: table;
//   width: 100%;
//   height: 100%;
// }
// .col {
//   text-align: center;
//   display: table-cell;
//   padding: 0px;
// }
// .center-col {
//   border-right: 1px solid rgba(196, 190, 190, 0.205);
//   border-left: 5px solid rgb(101, 153, 255);
// }
// .data {
//   height: 33.3333%;
//   background-color: red;
// }
// .data-contaier {
//   display: inline-block;
//   width: 100%;
//   height: 100%;
// }
// .data-col {
//   width: 20%;
//   display: inline-block;
//   padding: 0px;
//   vertical-align: middle;
// }
// .data-col p {
//   text-align: left;
// }
// .gradient-container {
//   margin: 0px 0;
//   width: 100%;
//   height: 50px;
//   position: relative;
//   display: flex;
// }
// .green-gradient {
//   background-image: linear-gradient(-90deg, white, #00b953);
//   width: 100%;
//   height: 90%;
//   margin: auto;
//   border-radius: 20px;
//   overflow: hidden;
// }
// .data-center-row {
//   border-top: 1px solid rgba(196, 190, 190, 0.205);
//   border-bottom: 1px solid rgba(196, 190, 190, 0.205);
// }
// .data-name {
//   color: rgb(171, 201, 253);
//   margin: 0px;
// }
// .title {
//   color: rgb(36, 37, 129);
//   font-size: 25px;
//   font-weight: bold;
// }
// .campaing-number {
//   color: rgb(36, 37, 129);
//   font-size: 50px;
//   font-weight: bold;
//   margin-top: 20px;
// }
// .mat-icon-open-dashboard {
//   color: transparent;
// }
// @media (min-width: 1025px) {
//   .icon-burguer {
//     display: none;
//   }
// }
// @media (max-width: 700px) {
//   .header {
//     display: none;
//   }
// }