<div class="container-page">

    <div class="container-header">
        <div class="container-title">
            Task List
        </div>
        <div class="container-actions">
            <div class="search-box">
                <input id="buscador" class="input-search" name="buscador" type="search" value="" />
                <span style="margin-top: 5px;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                </span>

            </div>
            <div style="width: 48px; height: 48px; color: green;margin-right: 10px;" (click)="onCreate()">
                <mat-icon style="font-size: 48px; color: white;" aria-hidden="false" aria-label="Example home icon">
                    add_circle</mat-icon>
            </div>
        </div>
    </div>
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8" style="width: 100%;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="Assigned To">
            <th mat-header-cell *matHeaderCellDef> Assigned To </th>
            <td mat-cell *matCellDef="let element"> {{element['Assigned To']}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Stage">
            <th mat-header-cell *matHeaderCellDef> Stage </th>
            <td mat-cell *matCellDef="let element"> {{element.Stage}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <!-- iconos de edit y delete -->
                <div class="button-action">
                    <div (click)="onEdit(element)">
                        <mat-icon style="font-size: 24px; color: #000429;" aria-hidden="false" aria-label="Example home icon">
                            edit</mat-icon>
                    </div>
                    <div (click)="onDelete(element)">
                        <mat-icon style="font-size: 24px; color: #000429;" aria-hidden="false" aria-label="Example home icon">
                            delete</mat-icon>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator>
</div>