    .row {
        display: flex;
        flex-direction: row;
        .col {
            display: flex;
            flex-direction: column;
            padding: 8px;
            width: 70%;
            margin: 0px 10px 2px 0px;
        }
    }
    
    .table-header {
        border-radius: 20px 20px 0 0;
        background-image: linear-gradient(-90deg, #000429, #00224d);
        width: 100%;
    }
    
    .titulo {
        font-size: 16px;
        color: white;
        font-weight: 600;
    }
    
    th {
        font-size: 14px;
        font-weight: 600;
        color: #001a43;
    }
    
    .text-field {
        flex: 1;
        border-radius: 20px;
        border: 1px solid white;
        padding: 8px;
        width: 100%;
        background-color: #00062c;
        color: white;
        input {
            width: 100px;
            border-width: 0;
            background-color: transparent;
        }
    }
    
    .container-header {
        // border: 2px solid red;
        border-radius: 20px 20px 0 0;
        background-image: linear-gradient(-90deg, #000429, #00224d);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .container-title {
            margin: 10px;
        }
        .container-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            .search-box {
                border: 1px solid rgb(255, 255, 255);
                border-radius: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 5px 0 0;
                padding-right: 4px;
                .input-search,
                .input-search:active,
                .input-search:focus,
                .input-search:focus-visible,
                .input-search:focus-within {
                    border: none;
                    background-color: transparent;
                    color: white;
                    // border-color: transparent;
                    width: 140px;
                    outline: none;
                    margin: 4px 4px 4px 10px;
                }
            }
        }
    }
    
    .container-page {
        border: 1px solid rgb(100, 100, 100);
        border-radius: 20px;
        width: 95%;
        margin: 0 auto;
    }
    
    .button-action {
        display: flex;
        flex-direction: row;
        margin-left: 8px;
    }